{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:flowtype/recommended"
  ],
  "env": {
    "browser": false,
    "commonjs": true,
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "plugins": [
    "flowtype",
    "jest"
  ],
  "rules": {
    "no-console": "off",
    "strict": ["error", "global"],
    "curly": "warn",
    "flowtype/generic-spacing": "off",
    "require-atomic-updates": "off",
    "no-prototype-builtins": "off",
    "no-useless-catch": "off"
  }
}
